@hcarset "UTF-8";

div#tv-radio {
	width: 900px;
	height: 580px;
	margin: auto;
	background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
	display: block;
	top: 490px;
	left: 575px;
	position: relative;
	width: 300px;
}

video#filme {
	display: block;
	top: 70px;
	left: 86px ;
	position: relative;
	width: 440px;
}